<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Vypneme defaultni dokumenty, aby se zobrazil directory listing pokud neni specificky soubor -->
        <defaultDocument enabled="false" />
        <directoryBrowse enabled="true" showFlags="Date,Time,Size,Extension,LongDate" />
    </system.webServer>
</configuration>
